*{
    margin:0;
    padding:0;
}

.container{
    height: 100px;
}
.navbar-container{
    display:flex;
    justify-content:space-around;
    align-items: center;}
.list{
    list-style-type:none;
    display:flex;
}

.list-item{margin-right:25px;
    font-size: 22px;
}
.logo{
    padding:50px;
    margin-left:40px;
}
.grow-list{
    margin-right:400px;
}
.nav-button{
    border:0px;
    background-color:purple;
    padding:10px 20px;
    color:white;
    font-size: 22px;
    font-family:"Red Rose";
    border-radius: 10px;
}
.banner-container{
    display:flex;
    margin-left: 85px;
    margin-top:30px;
    width: 90%;
    height:84vh;
}
.button-group{
    margin-right: 50px;
}
.heading-text{
    margin-top: 70px;
    font-size:50px;
}
.description{
    margin-top:20px;
    color:gray;
}

#btn{
    margin-top: 60px;
}
.image{
    margin-left: 30px;
    width:520px;
}
.content{
    height: 40px;
    float: left;
    width:300px;
}

    